<div class="card-wrapper color-background-1 flex flex-col gap-4">
  {%- comment -%}Card Media{%- endcomment -%}
  <div>
    <a href="{{ card_collection.url }}">
      <div class=" relative overflow-hidden {% if image_ratio == 'landscape' %}pb-[75%]{% elsif image_ratio == 'portrait' %}pb-[125%]{%else %}pb-[100%]{% endif %}">
        {% render 'image'; image: card_collection.featured_image; lazyload: false; size: 'large' %}
      </div>
    </a>
  </div>
  {%- comment -%}Card Information{%- endcomment -%}
  <div class="card__content">
    <div class="card__information flex flex-col items-start gap-2">
      <h1
        id="title-{{ section_id }}-{{ card_product.id }}"
        class="text-2xl"
      >
        {{- card_collection.title | escape -}}
      </h1>
      <a href="{{ card_collection.url }}" class="button">
        {{ button_label }}
      </a>
    </div>
  </div>
</div>
