{%- style -%}
  #section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    #section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- capture columns_mobile -%}
grid-cols-{{ section.settings.columns_mobile }}
{%- endcapture -%}

{%- capture columns_desktop -%}
md:grid-cols-{{ section.settings.columns_desktop }}
{%- endcapture -%}

<section id="section-{{ section.id }}-padding" class="w-full overflow-hidden px-5">
  <div class="mx-auto flex w-full flex-col gap-4">
    {%- if section.settings.title != blank -%}
      <div class="flex items-center justify-between">
        <div class="{{ section.settings.content_alignment }}">
          <h1 class="text-3xl md:text-5xl">{{ section.settings.title }}</h1>
          {%- if section.settings.description != blank -%}
            <p class="text-base">{{ section.settings.description }}</p>
          {%- endif -%}
        </div>
        {%- if section.settings.show_view_all -%}
          <a href="{{ section.settings.collection.url }}" aria-label="see more">{% render 'icon-arrow' %}</a>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div
      class="{% if section.settings.enable_carousel %}featured-collection-wrapper{% endif %}"
      data-desktop-columns="{{ section.settings.columns_desktop }}"
      data-mobile-columns="{{ section.settings.columns_mobile }}"
    >
      <div
        id="grid-product-{{ section.id }}"
        class=" {% if section.settings.enable_carousel %}keen-slider !overflow-visible{% else %} grid gap-x-2 gap-y-8  md:gap-y-14 {{ columns_mobile }} {{ columns_desktop }} {% endif %}"
      >
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <div
            id="card-product-{{ section.id }}-{{ forloop.index }}"
            class="{% if section.settings.enable_carousel %}keen-slider__slide{% endif %}"
          >
            {% render 'card-product',
              card_product: product,
              section_id: section.id,
              show_secondary_image: section.settings.show_secondary_image,
              image_ratio: section.settings.image_ratio
            %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

<script defer>
  function waitForElm(selector) {
    return new Promise((resolve) => {
      if (document.querySelector(selector)) {
        return resolve(document.querySelector(selector));
      }

      const observer = new MutationObserver((mutations) => {
        if (document.querySelector(selector)) {
          resolve(document.querySelector(selector));
          observer.disconnect();
        }
      });

      observer.observe(document.body, {
        childList: true,
        subtree: true,
      });
    });
  }

  waitForElm('.featured-collection-wrapper').then((elm) => {
    document.addEventListener('DOMContentLoaded', (event) => {
      let wrapper = document.querySelector('.featured-collection-wrapper');
      let desktopColumns = wrapper.dataset.desktopColumns;
      let mobileColumns = wrapper.dataset.mobileColumns;
      var slider = new KeenSlider(wrapper, {
        breakpoints: {
          '(min-width: 300px)': {
            slides: { perView: mobileColumns, spacing: 8 },
          },
          '(min-width: 768px)': {
            slides: { perView: desktopColumns, spacing: 8 },
          },
        },
        slides: { perView: 1 },
      });
    });
  });
</script>

{% schema %}
{
  "name": "Featured Collection",
  "class": "featured-collection-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "Collection title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 4,
      "max": 16,
      "step": 4,
      "default": 4,
      "label": "Amount of products to show"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "default": "portrait",
      "label": "Image ratio",
      "options": [
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "Square",
          "label": "Square"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "default": false,
      "label": "Enable carousel",
      "info": "carousel style is for both desktop and mobile"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Show view all button"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "Show secondary image"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "default": "4",
      "label": "Number of columns on desktop",
      "options": [
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        },
        {
          "value": "4",
          "label": "4 columns"
        },
        {
          "value": "5",
          "label": "5 columns"
        }
      ]
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Number of columns on mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_alignment",
      "default": "text-left",
      "label": "Image ratio",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 128,
      "step": 8,
      "unit": "px",
      "label": "Top padding",
      "default": 96
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 128,
      "step": 8,
      "unit": "px",
      "label": "Bottom padding",
      "default": 96
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
