{%- style -%}
    /* Sticky header */
    #shopify-section-header {
      z-index: 3;
    }

    .shopify-section-header-sticky {
      position: sticky;
      top: 0;
    }

    .shopify-section-header-hidden {
      transform: translateY(-100%);
    }

    .shopify-section-header-hidden.menu-open {
      transform: translateY(0);
    }

    #shopify-section-header.animate {
      transition: transform 0.15s ease-out;
    }

    /* General header css */
    .header__heading-logo {
        max-width: {{ section.settings.logo_width }}px;
      }

    .header {
      padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    }

    .section-header {
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 768px) {
      .section-header {
        margin-bottom: {{ section.settings.margin_bottom }}px;
      }

      .header {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

    /* Mega Menu css */
    .mega-menu[open] .mega-menu__content {
      opacity: 1;
      transform: translateY(0);
    }

    /* Header */
  .section-header {
    z-index: 3;
  }

  /* Search Box CSS */
  .search-field:before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .search-field:after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
    z-index: 1;
    border: 2px solid black;
  }

  .field__input:not(:placeholder-shown) ~ .field__label {
    display: none;
  }

  details[open] .modal-overlay {
    display: block;
  }

  details[open] .modal-overlay:after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    top: 100%;
    left: -100%;
    right: -100%;
    height: 100vh;
  }

  /* Hamburger menu */
  .header__icon--menu .icon {
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    height: 2rem;
    width: 2rem;
    left: 0;
    top: 20px;
    fill: none;
    vertical-align: middle;
  }

  .menu-opening > .header__icon--menu .icon-close {
    opacity: 1;
    visibility: visible;
    left: calc(90vw - 75px);
    transition-property: opacity, left;
    transition-duration: var(--duration-default);
  }

  @media screen and (min-width: 768px) {
    .menu-opening > .header__icon--menu .icon-close {
      left: calc(25rem - 75px);
    }
  }

  .header__icon--menu[aria-expanded="true"]:before {
    content: "";
    top: 0;
    left: -100%;
    right: -100%;
    height: 100vh;
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    pointer-events: auto;
  }

  .menu-drawer {
    position: absolute;
    transform: translate(-100%);
    visibility: hidden;
    z-index: 3;
    left: 0;
    top: 0;
    padding: 0;
    background-color: hsla(var(--color-surface) / 1);
    overflow-x: hidden;
    border-style: solid;
    filter: drop-shadow(1 5 4 rgba(0, 0, 0, 0));
    height: 100vh;
  }

  .menu-drawer__submenu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: hsla(var(--color-surface) / 1);
    z-index: 1;
    transform: translate(100%);
    visibility: hidden;
  }

  details[open].menu-opening > .menu-drawer {
    transform: translate(-20px);
    visibility: visible;
  }

  details[open].menu-opening > .menu-drawer__submenu {
    transform: translate(0);
    visibility: visible;
  }

  details[open] > .menu-drawer,
  details[open] > .menu-drawer__submenu {
    transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
  }
{%- endstyle -%}

<sticky-header class="header-wrapper header-wrapper--border-bottom w-full">
  <div class="w-full px-5">
    <header class="header relative m-0 mx-auto grid w-full grid-cols-[2fr_3fr_2fr] items-center lg:grid-cols-[2fr_1fr_2fr]">
      {%- comment -%} Menu Drawer - Mobile {%- endcomment -%}
      {%- if section.settings.menu != blank -%}
        <header-drawer data-breakpoint="tablet" class="justify-self-start lg:hidden">
          <details id="Details-menu-drawer-container" class="flex">
            <summary
              class="header__icon--menu inline-block h-11 w-11 p-0"
              aria-label="{{ 'sections.header.menu' | t }}"
            >
              <span class="flex h-full items-center justify-center">
                <span class="text-sm leading-none">Menu</span>
                {% render 'icon-close'; extra_classes: "z-[4]" %}
              </span>
            </summary>
            <div id="menu-drawer" class="menu-drawer motion-reduce w-[90vw] md:w-[25rem]" tabindex="-1">
              <div class="relative h-full">
                <div class="grid h-full grid-rows-[1fr_auto] content-between overflow-y-auto">
                  {%- comment -%} Main menu {%- endcomment -%}
                  <nav class="py-12">
                    <ul class="has-submenu m-0 flex list-none flex-col gap-1 p-0" role="list">
                      {%- for link in section.settings.menu.links -%}
                        <li class="px-5">
                          {%- if link.links != blank -%}
                            <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                              <summary class="decoration-[3px] underline-offset-4 hover:underline">
                                <h1 class="text-5xl">{{ link.title | escape }}</h1>
                              </summary>
                              {%- comment -%} Sub menu {%- endcomment -%}
                              <div
                                id="link-{{ link.title | escape }}"
                                class="menu-drawer__submenu has-submenu py-8"
                                tabindex="-1"
                              >
                                <div>
                                  <button class="button--link" aria-expanded="true">
                                    {% render 'icon-arrow'; extra_classes: "rotate-180" %}
                                    <h1 class="text-4xl">{{ link.title | escape }}</h1>
                                  </button>
                                  <div class="flex flex-col gap-2" role="list" tabindex="-1">
                                    {% comment %} Navigation Links {% endcomment %}
                                    {%- for childlink in link.links -%}
                                      <div class="px-5">
                                        {%- if childlink.links == blank -%}
                                          <a
                                            href="{{ childlink.url }}"
                                            {% if childlink.current %}
                                              aria-current="page"
                                            {% endif %}
                                          >
                                            {{ childlink.title | escape }}
                                          </a>
                                        {%- else -%}
                                          <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                            <summary>
                                              {{ childlink.title | escape }}
                                            </summary>
                                            {%- comment -%} Sub sub menu {%- endcomment -%}
                                            <div
                                              id="childlink-{{ childlink.title | escape }}"
                                              class="menu-drawer__submenu has-submenu py-8"
                                            >
                                              <button class="button--link" aria-expanded="true">
                                                {% render 'icon-arrow'; extra_classes: "rotate-180" %}
                                                <h1 class="text-4xl">{{ childlink.title | escape }}</h1>
                                              </button>
                                              <div class="flex flex-col gap-2" role="list" tabindex="-1">
                                                {%- for grandchildlink in childlink.links -%}
                                                  <div class="px-5">
                                                    <a
                                                      href="{{ grandchildlink.url }}"
                                                      {% if grandchildlink.current %}
                                                        aria-current="page"
                                                      {% endif %}
                                                    >
                                                      {{ grandchildlink.title | escape }}
                                                    </a>
                                                  </div>
                                                {%- endfor -%}
                                              </div>
                                            </div>
                                          </details>
                                        {%- endif -%}
                                      </div>
                                    {%- endfor -%}
                                  </div>
                                  <div class="mt-6 grid grid-cols-3 gap-2 px-5">
                                    {% comment %} Featured Links{% endcomment %}
                                    {%- for block in section.blocks -%}
                                      {%- assign link_name_2 = block.settings.link_name | downcase -%}
                                      {%- if link_name_2 == link.handle -%}
                                        <div>
                                          <a
                                            href="{{ block.settings.link }}"
                                            class="flex flex-col items-start leading-snug"
                                          >
                                            <div class="relative w-full overflow-hidden {% if section.settings.image_ratio == "75" %}pb-[75%]{% elsif section.settings.image_ratio == "125" %}pb-[125%]{%else %}pb-[100%]{% endif %}">
                                              {% render 'image'; image: block.settings.image; size: 'small' %}
                                            </div>
                                            <h1 class="text-bold mt-3 text-base">
                                              {{ block.settings.title | escape }}
                                            </h1>
                                          </a>
                                        </div>
                                      {%- endif -%}
                                    {%- endfor -%}
                                  </div>
                                </div>
                              </div>
                            </details>
                          {%- else -%}
                            <a
                              href="{{ link.url }}"
                              class="decoration-[3px] underline-offset-4 hover:underline"
                              {% if link.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              <h1 class="text-5xl">{{ link.title | escape }}</h1>
                            </a>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </nav>
                  <div class="border-t px-8 py-5 ">
                    {%- if shop.customer_accounts_enabled -%}
                      <a
                        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                        class="menu-drawer__account link focus-inset"
                      >
                        {%- liquid
                          if customer
                            echo 'customer.account_fallback' | t
                          else
                            echo 'customer.log_in' | t
                          endif
                        -%}
                      </a>
                    {%- endif -%}
                    <ul class="flex gap-2" role="list">
                      {%- if settings.social_twitter_link != blank -%}
                        <li>
                          <a href="{{ settings.social_twitter_link }}">
                            {%- render 'icon-twitter' -%}
                            <span class="hidden">{{ 'general.social.links.twitter' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_facebook_link != blank -%}
                        <li>
                          <a href="{{ settings.social_facebook_link }}">
                            {%- render 'icon-facebook' -%}
                            <span class="hidden">{{ 'general.social.links.facebook' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_pinterest_link != blank -%}
                        <li>
                          <a href="{{ settings.social_pinterest_link }}">
                            {%- render 'icon-pinterest' -%}
                            <span class="hidden">{{ 'general.social.links.pinterest' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_instagram_link != blank -%}
                        <li>
                          <a href="{{ settings.social_instagram_link }}">
                            {%- render 'icon-instagram' -%}
                            <span class="hidden">{{ 'general.social.links.instagram' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_tiktok_link != blank -%}
                        <li>
                          <a href="{{ settings.social_tiktok_link }}">
                            {%- render 'icon-tiktok' -%}
                            <span class="hidden">{{ 'general.social.links.tiktok' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_youtube_link != blank -%}
                        <li>
                          <a href="{{ settings.social_youtube_link }}">
                            {%- render 'icon-youtube' -%}
                            <span class="hidden">{{ 'general.social.links.youtube' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </details>
        </header-drawer>
      {%- endif -%}

      {%- comment -%} Left side - Mega Menu {%- endcomment -%}
      {%- if section.settings.menu != blank -%}
        <nav class="header__inline-menu hidden lg:block">
          <ul class="m-0 inline-flex list-none flex-wrap gap-6 p-0" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                      <summary class="relative">
                        <div href="" class="flex items-center text-sm leading-none">
                          <span
                            {%- if link.child_active %}
                              class="header__active-menu-item"
                            {% endif %}
                          >
                            {{- link.title | escape -}}
                          </span>
                        </div>
                      </summary>

                      {%- comment -%} Mega Menu pop-up {%- endcomment -%}
                      <div
                        id="MegaMenu-Content-{{ forloop.index }}"
                        class="mega-menu__content absolute -inset-x-5 top-auto z-[11] -translate-y-4  overflow-y-auto pt-2 opacity-0"
                        tabindex="-1"
                      >
                        <div class="grid grid-cols-3 gap-6 bg-surface px-12 pb-10 pt-10">
                          <ul class="flex flex-col flex-wrap content-start gap-x-6 gap-y-10" role="list">
                            {%- comment -%} Navigation Links {%- endcomment -%}
                            {%- for childlink in link.links -%}
                              <li class="flex flex-col gap-2">
                                <a
                                  href="{{ childlink.url }}"
                                  class="{% if childlink.current %}{% endif %} font-heading text-sm font-bold opacity-50"
                                  {% if childlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ childlink.title | escape }}
                                </a>
                                {%- if childlink.links != blank -%}
                                  <ul class="list-unstyled flex flex-col gap-0.5" role="list">
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a
                                          href="{{ grandchildlink.url }}"
                                          class="text-sm {% if grandchildlink.current %}{% endif %}"
                                          {% if grandchildlink.current %}
                                            aria-current="page"
                                          {% endif %}
                                        >
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>

                          {%- comment -%} Promotions {%- endcomment -%}
                          <ul class="col-span-2 grid grid-cols-4 place-content-end gap-x-4">
                            {%- for block in section.blocks -%}
                              {%- assign link_name = block.settings.link_name | downcase -%}
                              {%- if link_name == link.handle -%}
                                <li class="{%- if block.type == "wide-menu-promotion" -%}row-span-2{%- endif -%}">
                                  <a href="{{ block.settings.link }}" class="flex flex-col gap-3">
                                    <div class="relative overflow-hidden {% if section.settings.image_ratio == "75" %}pb-[75%]{% elsif section.settings.image_ratio == "125" %}pb-[125%]{%else %}pb-[100%]{% endif %}">
                                      {% render 'image'; image: block.settings.image; size: 'medium' %}
                                    </div>
                                    <div class="flex items-center gap-2">
                                      <h1 class="text-bold text-base">{{ block.settings.title | escape }}</h1>
                                      {% render 'icon-arrow' %}
                                    </div>
                                    {% if block.settings.description %}
                                      <div>{{ block.settings.description }}</div>
                                    {% endif %}
                                  </a>
                                </li>
                              {%- endif -%}
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a
                    href="{{ link.url }}"
                    class="flex items-center text-sm leading-none "
                    {% if link.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    <span>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}

      {%- comment -%} Middle Section - logo {%- endcomment -%}

      <h1 class="flex justify-center ">
        <a
          href="{{ routes.root_url }}"
          class="inline-block justify-self-center break-words p-3 text-center leading-[0] no-underline"
        >
          {%- if section.settings.logo != blank -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
            {{
              section.settings.logo
              | image_url: width: section.settings.width
              | image_tag:
                class: 'header__heading-logo',
                widths: '50, 100, 150, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt
            }}
          {%- else -%}
            <span class="text-xl">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </h1>

      {%- comment -%} Right Section - Search + Cart {%- endcomment -%}
      <div class="flex gap-2 justify-self-end ">
        {%- comment -%} Search section {%- endcomment -%}
        <details-modal class="inline-flex leading-[0]">
          <details class="block">
            <summary
              class="h-header__icon header__icon--search header__icon--summary link focus-inset modal__toggle relative inline-block h-11 w-11 list-none p-0 text-[1.4rem]"
              aria-haspopup="dialog"
              aria-label="{{ 'general.search.search' | t }}"
            >
              <span class="flex h-full items-center justify-center">
                {% render 'icon-search',
                  extra_classes: 'modal__toggle-open h-5 w-5 fill-none align-middle flex overflow-hidden'
                %}
              </span>
            </summary>
            <div
              class="search-modal absolute inset-0 z-10 flex h-full items-center justify-center bg-surface"
              role="dialog"
              aria-modal="true"
              aria-label="{{ 'general.search.search' | t }}"
            >
              <div class="modal-overlay"></div>
              <div class="relative flex h-full w-full items-center justify-between px-16 py-0" tabindex="-1">
                {%- comment -%}
                  {%- if settings.predictive_search_enabled -%}
                    <predictive-search class="search-modal__form relative w-full" data-loading-text="{{ 'accessibility.loading' | t }}">
                  {%- endif -%}
                {%- endcomment -%}
                <form
                  action="{{ routes.search_url }}"
                  method="get"
                  role="search"
                  class="search search-modal__form mt-0 block w-full"
                >
                  <div class="search-field relative flex w-full">
                    <input
                      class="search__input field__input relative m-0.5 h-10 min-h-[32px] w-full min-w-[74px] grow appearance-none bg-white p-[15px] text-left text-black focus:outline-0"
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >

                    <input type="hidden" name="options[prefix]" value="last">
                    <button
                      class="search__button field__button absolute right-3 top-1.5 flex h-8 w-8 items-center justify-center overflow-hidden bg-transparent p-0"
                      aria-label="{{ 'general.search.search' | t }}"
                    >
                      {% render 'icon-search', extra_classes: 'h-4 w-4 overflow-hidden' %}
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          role="presentation"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
                {%- comment -%}
                  {%- if settings.predictive_search_enabled -%}
                    </predictive-search>
                  {%- endif -%}
                {%- endcomment -%}
                <button
                  type="button"
                  class="search-modal__close-button modal__close-button link link--text focus-inset flex h-11 w-11 items-center justify-center p-0"
                  aria-label="{{ 'accessibility.close' | t }}"
                >
                  {% render 'icon-close', extra_classes: 'h-7 w-7 overflow-hidden' %}
                </button>
              </div>
            </div>
          </details>
        </details-modal>

        {%- comment -%} User account icons {%- endcomment -%}
        {%- if shop.customer_accounts_enabled -%}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="header__icon--account relative hidden items-center justify-center p-0 lg:flex"
          >
            <div>
              <span class="text-sm leading-none">
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </span>
              <span class="hidden">
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </span>
            </div>
          </a>
        {%- endif -%}

        {%- comment -%} Cart icons {%- endcomment -%}
        <a
          href="{{ routes.cart_url }}"
          class="header__icon--cart relative flex items-center justify-center p-0"
          id="cart-icon-bubble"
        >
          <div>
            <span class="text-sm leading-none">{{ 'templates.cart.cart' | t }}&#160;</span>
            <span class="hidden">{{ 'templates.cart.cart' | t }}</span>
          </div>

          <div>
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true" class="text-sm leading-none">({{ cart.item_count }})</span>
            {%- endif -%}
            <span class="hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        </a>
      </div>
    </header>
  </div>
</sticky-header>

{%- comment -%} Open mega menu on hover {%- endcomment -%}
<script>
  let items = document.querySelector('.header__inline-menu').querySelectorAll('details');
  items.forEach((item) => {
    item.addEventListener('mouseover', () => {
      item.setAttribute('open', true);
      item.querySelector('ul').addEventListener('mouseleave', () => {
        item.removeAttribute('open');
      });
      item.addEventListener('mouseleave', () => {
        item.removeAttribute('open');
      });
    });
  });
</script>

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => (this.preventReveal = true);

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach((disclosure) => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

{%- comment -%} Schema for SEO {%- endcomment -%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "header",
  "class": "section-header w-full bg-surface border-b",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 40,
      "max": 250,
      "step": 10,
      "default": 60,
      "unit": "px",
      "label": "Custom logo width"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": false,
      "label": "Show separator line"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "Enable sticky header",
      "info": "Header shows on the screen as customer scrolls up"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "125",
          "label": "Portrait"
        },
        {
          "value": "100",
          "label": "Square"
        },
        {
          "value": "75",
          "label": "Landscape"
        }
      ],
      "default": "125",
      "label": "Featured image ratio",
      "info": "Image ratio of featured product images"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom margin",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "small-menu-promotion",
      "name": "Small menu promotion",
      "settings": [
        {
          "type": "text",
          "id": "link_name",
          "label": "Link name",
          "info": "The name of any top-level link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Featured image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Featured Promotion",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Where to link to"
        }
      ]
    },
    {
      "type": "wide-menu-promotion",
      "name": "Wide menu promotion",
      "settings": [
        {
          "type": "text",
          "id": "link_name",
          "label": "Link name",
          "info": "The name of any top-level link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Featured image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Featured Promotion",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Where to link to"
        }
      ]
    }
  ]
}
{% endschema %}
