{{ 'customer.css' | asset_url | stylesheet_tag }}
<section class="w-full py-32">
  <div class="customer reset-password w-full px-5 max-w-3xl mx-auto">
    <h1 class="h4">
      {{ 'customer.reset_password.title' | t }}
    </h1>
    <p class="reset_subtext mb-4">
      {{ 'customer.reset_password.subtext' | t: email: email }}
    </p>
    {%- form 'reset_customer_password', class: 'flex flex-col gap-2 items-start' -%}
      {%- if form.errors -%}
        <p class="form__message mt-5 flex gap-2 items-center" tabindex="-1" autofocus>
          <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>

          {% render 'icon-error' %}
          {{ 'templates.contact.form.error_heading' | t }}
        </p>
        <ul class="mb-5">
          {%- for field in form.errors -%}
            <li class="text-sm">
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#{{ field }}">
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <input
        type="password"
        name="customer[password]"
        id="password"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password' | t }}"
        class="h-12 border px-4 w-full focus:outline-0"
      >

      {%- if form.errors contains 'password' -%}
        <small id="password-error" class="form__message flex gap-2 items-center mb-4">
          {% render 'icon-error', extra_classes: 'w-[18px] h-[18px]' %}
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}
        </small>
      {%- endif -%}

      <input
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        autocomplete="new-password"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
        class="h-12 border px-4 w-full focus:outline-0"
      >

      {%- if form.errors contains 'password_confirmation' -%}
        <small id="password_confirmation-error" class="form__message flex gap-2 items-center mb-4">
          {% render 'icon-error', extra_classes: 'w-[18px] h-[18px]' %}

          {{ form.errors.translated_fields.password_confirmation | capitalize }}
          {{ form.errors.messages.password_confirmation }}
        </small>
      {%- endif -%}

      <button>
        {{ 'customer.reset_password.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Reset password"
}
{% endschema %}
