{{ 'customer.css' | asset_url | stylesheet_tag }}

<section class="w-full py-32">
  <div class="customer mx-auto w-full max-w-3xl px-5">
    <h1 class="h4 mb-4">
      {{ 'customer.register.title' | t }}
    </h1>
    {%- form 'create_customer', novalidate: 'novalidate', class: 'flex flex-col gap-2 items-start' -%}
      {%- if form.errors -%}
        <p class="form__message" tabindex="-1" autofocus>
          {% render 'icon-error' %}
          {{ 'templates.contact.form.error_heading' | t }}
        </p>
        <ul>
          {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#RegisterForm-{{ field }}">
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}
          value="{{ form.first_name }}"
        {% endif %}
        autocomplete="given-name"
        placeholder="{{ 'customer.register.first_name' | t }}"
        class="h-12 w-full border px-4 focus:outline-0"
      >

      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}
          value="{{ form.last_name }}"
        {% endif %}
        autocomplete="family-name"
        placeholder="{{ 'customer.register.last_name' | t }}"
        class="h-12 w-full border px-4 focus:outline-0"
      >

      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %}
          value="{{ form.email }}"
        {% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="{{ 'customer.register.email' | t }}"
        class="h-12 w-full border px-4 focus:outline-0"
      >

      {%- if form.errors contains 'email' -%}
        <span id="RegisterForm-email-error" class="form__message">
          {% render 'icon-error' %}
          {{ form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email }}.
        </span>
      {%- endif -%}

      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="{{ 'customer.register.password' | t }}"
        class="h-12 w-full border px-4 focus:outline-0"
      >

      {%- if form.errors contains 'password' -%}
        <span id="RegisterForm-password-error" class="form__message">
          {% render 'icon-error' %}
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}.
        </span>
      {%- endif -%}
      <button>
        {{ 'customer.register.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Register Form"
}
{% endschema %}
