{%- style -%}
  #section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    #section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="w-full {% if section.settings.full_width == false %}px-5{% endif %}">
  <div
    id="section-{{ section.id }}-padding"
    class="color-{{ section.settings.color_scheme }} w-full {% if section.settings.full_width == false %} px-0{% endif %} mx-auto flex flex-col gap-4 px-5 {% if section.settings.content_alignment == "start" %}items-start{% elsif section.settings.content_alignment == "center" %}items-center text-center{% else %}items-end text-right{% endif %}"
  >
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
          <h1 class="font-bold">
            {{ block.settings.heading | replace: 'p>', 'span>' }}
          </h1>
        {% when 'caption' %}
          <p class="">{{ block.settings.caption | replace: 'p>', 'span>' }}</p>
        {% when 'text' %}
          <p class="text-base ">
            {{ block.settings.text | replace: 'p>', 'span>' }}
          </p>
        {% when 'button' %}
          <div class="flex gap-2">
            {% if block.settings.button_label_1 != blank %}
              <button
                href="{{ block.setttings.button_url_1 }} "
                class="{% if block.settings.button_style_secondary_1 %}button--outline{% endif %}"
              >
                {{ block.settings.button_label_1 }}
              </button>
            {% endif %}
            {% if block.settings.button_label_2 != blank %}
              <button
                href="{{ block.setttings.button_url_2 }} "
                class="{% if block.settings.button_style_secondary_2 %}button--outline{% endif %}"
              >
                {{ block.settings.button_label_2 }}
              </button>
            {% endif %}
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Rich text",
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "Caption"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "Description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Read more",
          "label": "First button label",
          "info": "Leave the label blank to hide the button"
        },
        {
          "type": "url",
          "id": "button_url_1",
          "label": "First button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "Use outline button style"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Second button label",
          "info": "Leave the label blnak to hide the button"
        },
        {
          "type": "url",
          "id": "button_url_2",
          "label": "Second button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "use outline button style"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "start",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "end",
          "label": "right"
        }
      ],
      "default": "center",
      "label": "Content alignment"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "accent",
          "label": "Accent"
        },
        {
          "value": "contrast",
          "label": "Contrast"
        }
      ],
      "default": "background-1",
      "label": "Color scheme"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "Make section full width"
    },
    {
      "type": "header",
      "content": "section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 128,
      "step": 8,
      "unit": "px",
      "label": "Top padding",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 128,
      "step": 8,
      "unit": "px",
      "label": "Bottom padding",
      "default": 64
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
